* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#banner {
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), #009688),     url(img/banner.jpg);
    background-size: cover;
    background-position: center;
    height: 100vh;
}