* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;

}

/* ----------HEADER---------- */
#banner {
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), #009688),     url(img/banner.jpg);
    background-size: cover;
    background-position: center;
    height: 100vh;
}

.logo {
    width: 140px;
    position: absolute;
    top: 4%;
    left: 10%;
}

.banner-text {
    text-align: center;
    color: #fff;
    padding-top: 180px;
}

.banner-text h1 {
    font-size: 130px;
    font-family: 'Kaushan Script', cursive;
}

.banner-text p {
    font-size: 20px;
    font-style: italic;
}

.banner-btn {
    margin: 70px auto 0;
}

.banner-btn a {
    width: 150px;
    text-decoration: none;
    display: inline-block;
    margin: 0 10px;
    padding: 12px 0;
    color: #fff;
     border: .5px solid #fff;
     position: relative;
     z-index: 1;
     transition: color .5s;
}

.banner-btn a span {
    width: 0%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background: #fff;
    z-index: -1;
    transition: .5s;
}
.banner-btn a:hover span {
    width: 100%;
}
.banner-btn a:hover {
    color: #000;
}

#sideNav {
    width: 250px;
    height: 100vh;
    position: fixed;
    right: -250px;
    top: 0;
    background: #009688;
    z-index: 2;
    transition: .5s;
}

nav ul li {
    list-style-type: none;
    margin: 50px 20px;
}

nav ul li a {
    text-decoration: none;
    color: #fff;
}

#MenuBtn {
    width: 50px;
    height: 50px;
    background: #009688;
    text-align: center;
    position: fixed;
    right: 30px;
    top: 20px;
    border-radius: 3px;
    z-index: 3;
    cursor: pointer;
}

#MenuBtn img {
    width: 20px;
    margin-top: 15px;
}
/* ----------END HEADER---------- */